# Web Scraping Caterpillar New Equipments

In [131]:
import requests as r
import pandas as pd
import numpy as np
import time
from tqdm import tqdm
from selenium import webdriver

from selenium.webdriver.common.keys import Keys

from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException

### The website : https://www.cat.com/en_US/products/new/equipment.html

```1th Task :```

    Get all the equipments names

In [67]:



url = "https://www.cat.com/en_US/products/new/equipment/_jcr_content.feed.json"
headers = """accept: application/json, text/javascript, */*; q=0.01
accept-encoding: gzip, deflate, br
accept-language: fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7,pt-BR;q=0.6,pt;q=0.5
cache-control: no-cache
cookie: cookie-consent-status=accepted; localePage=/fr_FR.html; _ym_uid=1619679846389344437; _ym_d=1619679846; QSI_SI_8JinsZNoQtLWrYN_intercept=true; _ga=GA1.2.69569787.1619785196; _evga_778c={%22uuid%22:%22f5f6177157e2974d%22}; _gid=GA1.2.1311035109.1620632771; __utmzz=%3Futm_campaign%3D(not%20set); __utmzses=session; _ym_isad=2; _gaexp=GAX1.2.o743T5FLRXmHqCh9ec7G4w.18812.0!KjzI7NNFSX-40_b72K8XaQ.18819.0!Tj-XGR4kQQWfzKtZkTO0TA.18819.4!mLdyIydOSRerwFCcUnBKIg.18847.0!QYn1UVYZRo2sRa9sYRHgQQ.18770.0; JSESSIONID=node01lm0q630z04lo1a44dmzuae2eo3448013.node0; ak_bmsc=D5859D50B860950F7FEF9BD63B4637D1685974CA422C0000E2819A6013882F68~plYyXMCYe2FreqV+zVgFio/U2hg+mpZ/NjpYDox/PZQDWrSKiXWm6n0Xcy27eqQa7P+z3kG9CmeMBBu/4b3J7Pm+t6qrsSZ32x9Sn3jn+7rwnpTdtNJtRwuWB9lQ7hBWTZIvthorpxLBb4I+GjsfDjopDmEIfmMEuiGyEZ9N6aOfwcTpJIatYUigSTjhTe8y57/Zw4eMEA+1Y3wGH0981fcDT/b6ANJt77j0yNOJp2/dA=; AWSALBTG=GdN9/Hv6bE93/VMzziz/9a2AvwHT/FFoN0hupHxF5IsbWStjZ3XFmgARpsEJAsIF4ZDwU3SYVmlvwm8rN/gofQfWbXWkIY3DGJuW4+GWSZiIKe2rzHdHBbiOKChj3bQ7yIbBkI2ZRncsh9xy2AALPCUqKfGBqE84cI1e4z4jNfOf; AWSALBTGCORS=GdN9/Hv6bE93/VMzziz/9a2AvwHT/FFoN0hupHxF5IsbWStjZ3XFmgARpsEJAsIF4ZDwU3SYVmlvwm8rN/gofQfWbXWkIY3DGJuW4+GWSZiIKe2rzHdHBbiOKChj3bQ7yIbBkI2ZRncsh9xy2AALPCUqKfGBqE84cI1e4z4jNfOf; AWSALB=dnSiGdlf4r0VRIFYKhrbsNzeFUjZdzrGH5QoZcyYH9+4WbT2FoGxXtK0b0xF73D1xMYfkJEDMdrd86srbesbLJOEXJ9scdx9GAJc/GTEZu+zhCH3+FLPLMbtrfmP; AWSALBCORS=dnSiGdlf4r0VRIFYKhrbsNzeFUjZdzrGH5QoZcyYH9+4WbT2FoGxXtK0b0xF73D1xMYfkJEDMdrd86srbesbLJOEXJ9scdx9GAJc/GTEZu+zhCH3+FLPLMbtrfmP; ADRUM_BTa=R:0|g:ba46b8c2-4956-42ce-95eb-fb4c15c29f42|n:cat-prod_f7d9caec-f2b7-4921-8d3b-1d2bc2552176; SameSite=None; _dc_gtm_UA-3257780-1=1; QSI_HistorySession=https%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620632864483%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005962.html~1620634921025%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620719325005%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Fmini-excavators%2F18099279.html~1620719378257%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620719390780%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005964.html~1620719401267%7Chttps%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620726728529%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005964.html~1620726775855%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620726801767%7Chttps%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620733861114%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fdozers.html~1620733868142%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fdozers%2Fmedium-dozers%2F15969993.html~1620733890784%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620738537787%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Fmini-excavators%2F18099279.html~1620738549328%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620738940570%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Farticulated-trucks.html~1620739010286%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620739347518; _gat_UA-3257780-1=1; bm_sv=937F9E91044D7E004FFE6D668FCEA57F~BvT5VBPwcFBCHiJHQl3if/rX5LFSG4X+1YlOHscPM2HtuaXR4CL6vBFn6hQP1bCIkoKEsUxtGx7SqvRjVg8XJx+DLwfWn3FifZlD6uoPvORnRDSZXUGybAnC8eODD23w4OmdVybuPJFBV0Jq4gffkA==
pragma: no-cache
referer: https://www.cat.com/en_US/products/new/equipment.html
sec-ch-ua: " Not A;Brand";v="99", "Chromium";v="90", "Google Chrome";v="90"
sec-ch-ua-mobile: ?0
sec-fetch-dest: empty
sec-fetch-mode: cors
sec-fetch-site: same-origin
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
x-requested-with: XMLHttpRequest"""

headers=dict(i.split(': ') for i in headers.split('\n'))
names = r.get(url, headers=headers).json()
names.keys()
equipment = pd.json_normalize(names['models'])

```Get list of all the equipment names```

In [68]:
def equi_name(x):
    names_lst = []
    names_lst.append(x)
    return list(set(names_lst))

In [69]:
equi = equipment['family_name'].apply(equi_name)

In [70]:
equi

0                       [Articulated Trucks]
1                           [Asphalt Pavers]
2                          [Backhoe Loaders]
3                             [Cold Planers]
4                               [Compactors]
5                                   [Dozers]
6                                [Draglines]
7                                   [Drills]
8                    [Electric Rope Shovels]
9                               [Excavators]
10                         [Forest Machines]
11                [Hydraulic Mining Shovels]
12                       [Material Handlers]
13                           [Motor Graders]
14                      [Off-Highway Trucks]
15                              [Pipelayers]
16                         [Road Reclaimers]
17    [Skid Steer and Compact Track Loaders]
18                            [Telehandlers]
19                           [Track Loaders]
20                 [Underground - Hard Rock]
21                  [Underground - Longwall]
22                        [Utility Vehicles]
23                           [Wheel Loaders]
24                  [Wheel Tractor-Scrapers]
Name: family_name, dtype: object

``` Get equipment names in the same format as in link```

In [71]:

def org_name(x):
    names = []
    for t in range(len(x)):
        for i in x[t] :
            i = i.replace(" - "," ")
            names.append(i.replace('"',"").replace(' ', '-').lower())

    return names
    
names = org_name(equi)

In [72]:
names

['articulated-trucks',
 'asphalt-pavers',
 'backhoe-loaders',
 'cold-planers',
 'compactors',
 'dozers',
 'draglines',
 'drills',
 'electric-rope-shovels',
 'excavators',
 'forest-machines',
 'hydraulic-mining-shovels',
 'material-handlers',
 'motor-graders',
 'off-highway-trucks',
 'pipelayers',
 'road-reclaimers',
 'skid-steer-and-compact-track-loaders',
 'telehandlers',
 'track-loaders',
 'underground-hard-rock',
 'underground-longwall',
 'utility-vehicles',
 'wheel-loaders',
 'wheel-tractor-scrapers']

```2th Task :```

    Get all the equipments names

In [73]:
dft = pd.DataFrame()

for i in names:
                   
        url = f"https://www.cat.com/en_US/products/new/equipment/{i}/_jcr_content.feed.json"
        headers = f"""accept: application/json, text/javascript, */*; q=0.01
accept-encoding: gzip, deflate, br
accept-language: fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7,pt-BR;q=0.6,pt;q=0.5
cache-control: no-cache
cookie: cookie-consent-status=accepted; localePage=/fr_FR.html; _ym_uid=1619679846389344437; _ym_d=1619679846; QSI_SI_8JinsZNoQtLWrYN_intercept=true; _ga=GA1.2.69569787.1619785196; _evga_778c={{%22uuid%22:%22f5f6177157e2974d%22}}; _gid=GA1.2.1311035109.1620632771; __utmzz=%3Futm_campaign%3D(not%20set); __utmzses=session; _ym_isad=2; _gaexp=GAX1.2.o743T5FLRXmHqCh9ec7G4w.18812.0!KjzI7NNFSX-40_b72K8XaQ.18819.0!Tj-XGR4kQQWfzKtZkTO0TA.18819.4!mLdyIydOSRerwFCcUnBKIg.18847.0!QYn1UVYZRo2sRa9sYRHgQQ.18770.0; JSESSIONID=node01lm0q630z04lo1a44dmzuae2eo3448013.node0; ak_bmsc=D5859D50B860950F7FEF9BD63B4637D1685974CA422C0000E2819A6013882F68~plYyXMCYe2FreqV+zVgFio/U2hg+mpZ/NjpYDox/PZQDWrSKiXWm6n0Xcy27eqQa7P+z3kG9CmeMBBu/4b3J7Pm+t6qrsSZ32x9Sn3jn+7rwnpTdtNJtRwuWB9lQ7hBWTZIvthorpxLBb4I+GjsfDjopDmEIfmMEuiGyEZ9N6aOfwcTpJIatYUigSTjhTe8y57/Zw4eMEA+1Y3wGH0981fcDT/b6ANJt77j0yNOJp2/dA=; _gat_UA-3257780-1=1; _dc_gtm_UA-3257780-1=1; SameSite=None; QSI_HistorySession=https%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html~1620632857103%7Chttps%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620632864483%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005962.html~1620634921025%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620719325005%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Fmini-excavators%2F18099279.html~1620719378257%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620719390780%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005964.html~1620719401267%7Chttps%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620726728529%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005964.html~1620726775855%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620726801767%7Chttps%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620733861114%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fdozers.html~1620733868142%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fdozers%2Fmedium-dozers%2F15969993.html~1620733890784%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620738537787%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Fmini-excavators%2F18099279.html~1620738549328%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620738940570%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Farticulated-trucks.html~1620739010286; AWSALBTG=VBMjD66xWd+K5tpMs4mbh4wAnCKjoaj5IX8n5UsJxCbSFFA6mxVR0gmDyzhXpykwLI/K5R2t8DS5Zd6O/IX+mF8jSOlhrHY/ewU+U84wxjTyLrFK9vUoxEk4BlR2zEgYIG1Ox9IYwATZI8WmdjeuG/O0HyeADmDjWMWdtRKQcKTt; AWSALBTGCORS=VBMjD66xWd+K5tpMs4mbh4wAnCKjoaj5IX8n5UsJxCbSFFA6mxVR0gmDyzhXpykwLI/K5R2t8DS5Zd6O/IX+mF8jSOlhrHY/ewU+U84wxjTyLrFK9vUoxEk4BlR2zEgYIG1Ox9IYwATZI8WmdjeuG/O0HyeADmDjWMWdtRKQcKTt; AWSALB=BrdpG/OPxOPE7kjKh8qV7uoYY9Zxf2E8Z1o1kvwADTxYAkP8yaS52c+t2W8ZQI2pSVqNJpnP2+fu2TuQAe096uyfRdXrbOm7vy95uZsfaI9K9GZRozOJG7hNptTr; AWSALBCORS=BrdpG/OPxOPE7kjKh8qV7uoYY9Zxf2E8Z1o1kvwADTxYAkP8yaS52c+t2W8ZQI2pSVqNJpnP2+fu2TuQAe096uyfRdXrbOm7vy95uZsfaI9K9GZRozOJG7hNptTr; ADRUM_BTa=R:0|g:9c5e4c74-469c-4f9f-97c4-01bd46aca874|n:cat-prod_f7d9caec-f2b7-4921-8d3b-1d2bc2552176; bm_sv=937F9E91044D7E004FFE6D668FCEA57F~BvT5VBPwcFBCHiJHQl3if/rX5LFSG4X+1YlOHscPM2HtuaXR4CL6vBFn6hQP1bCIkoKEsUxtGx7SqvRjVg8XJx+DLwfWn3FifZlD6uoPvOTAmEdupTAWEIxUYr07XGZiClg6nxixKS0/XB9ii6AlWw==
pragma: no-cache
referer: https://www.cat.com/en_US/products/new/equipment/{i}.html
sec-ch-ua: " Not A;Brand";v="99", "Chromium";v="90", "Google Chrome";v="90"
sec-ch-ua-mobile: ?0
sec-fetch-dest: empty
sec-fetch-mode: cors
sec-fetch-site: same-origin
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
x-requested-with: XMLHttpRequest"""
        
        headers = str(headers)
        headers=dict(t.split(': ') for t in headers.split('\n'))
        data = r.get(url, headers=headers).json()
        df = pd.json_normalize(data['models'])
        dft=dft.append(df)
        time.sleep(1)
        print(f"Page {i} (%s/24) is finished"%names.index(i))

Page articulated-trucks (0/24) is finished
Page asphalt-pavers (1/24) is finished
Page backhoe-loaders (2/24) is finished
Page cold-planers (3/24) is finished
Page compactors (4/24) is finished
Page dozers (5/24) is finished
Page draglines (6/24) is finished
Page drills (7/24) is finished
Page electric-rope-shovels (8/24) is finished
Page excavators (9/24) is finished
Page forest-machines (10/24) is finished
Page hydraulic-mining-shovels (11/24) is finished
Page material-handlers (12/24) is finished
Page motor-graders (13/24) is finished
Page off-highway-trucks (14/24) is finished
Page pipelayers (15/24) is finished
Page road-reclaimers (16/24) is finished
Page skid-steer-and-compact-track-loaders (17/24) is finished
Page telehandlers (18/24) is finished
Page track-loaders (19/24) is finished
Page underground-hard-rock (20/24) is finished
Page underground-longwall (21/24) is finished
Page utility-vehicles (22/24) is finished
Page wheel-loaders (23/24) is finished
Page wheel-tractor-scrapers (24/24) is finished

In [78]:
dft = pd.DataFrame()

for i in tqdm(names):
                   
        url = f"https://www.cat.com/en_US/products/new/equipment/{i}/_jcr_content.feed.json"
        headers = f"""accept: application/json, text/javascript, */*; q=0.01
accept-encoding: gzip, deflate, br
accept-language: fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7,pt-BR;q=0.6,pt;q=0.5
cache-control: no-cache
cookie: cookie-consent-status=accepted; localePage=/fr_FR.html; _ym_uid=1619679846389344437; _ym_d=1619679846; QSI_SI_8JinsZNoQtLWrYN_intercept=true; _ga=GA1.2.69569787.1619785196; _evga_778c={{%22uuid%22:%22f5f6177157e2974d%22}}; _gid=GA1.2.1311035109.1620632771; __utmzz=%3Futm_campaign%3D(not%20set); __utmzses=session; _ym_isad=2; _gaexp=GAX1.2.o743T5FLRXmHqCh9ec7G4w.18812.0!KjzI7NNFSX-40_b72K8XaQ.18819.0!Tj-XGR4kQQWfzKtZkTO0TA.18819.4!mLdyIydOSRerwFCcUnBKIg.18847.0!QYn1UVYZRo2sRa9sYRHgQQ.18770.0; JSESSIONID=node01lm0q630z04lo1a44dmzuae2eo3448013.node0; ak_bmsc=D5859D50B860950F7FEF9BD63B4637D1685974CA422C0000E2819A6013882F68~plYyXMCYe2FreqV+zVgFio/U2hg+mpZ/NjpYDox/PZQDWrSKiXWm6n0Xcy27eqQa7P+z3kG9CmeMBBu/4b3J7Pm+t6qrsSZ32x9Sn3jn+7rwnpTdtNJtRwuWB9lQ7hBWTZIvthorpxLBb4I+GjsfDjopDmEIfmMEuiGyEZ9N6aOfwcTpJIatYUigSTjhTe8y57/Zw4eMEA+1Y3wGH0981fcDT/b6ANJt77j0yNOJp2/dA=; _gat_UA-3257780-1=1; _dc_gtm_UA-3257780-1=1; SameSite=None; QSI_HistorySession=https%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html~1620632857103%7Chttps%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620632864483%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005962.html~1620634921025%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620719325005%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Fmini-excavators%2F18099279.html~1620719378257%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620719390780%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005964.html~1620719401267%7Chttps%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620726728529%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Ffrontless-excavators%2F1000005964.html~1620726775855%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620726801767%7Chttps%3A%2F%2Fwww.cat.com%2Fcontent%2Fcatdotcom%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620733861114%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fdozers.html~1620733868142%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fdozers%2Fmedium-dozers%2F15969993.html~1620733890784%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators.html%3Fpage%3D5~1620738537787%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Fexcavators%2Fmini-excavators%2F18099279.html~1620738549328%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment.html~1620738940570%7Chttps%3A%2F%2Fwww.cat.com%2Fen_US%2Fproducts%2Fnew%2Fequipment%2Farticulated-trucks.html~1620739010286; AWSALBTG=VBMjD66xWd+K5tpMs4mbh4wAnCKjoaj5IX8n5UsJxCbSFFA6mxVR0gmDyzhXpykwLI/K5R2t8DS5Zd6O/IX+mF8jSOlhrHY/ewU+U84wxjTyLrFK9vUoxEk4BlR2zEgYIG1Ox9IYwATZI8WmdjeuG/O0HyeADmDjWMWdtRKQcKTt; AWSALBTGCORS=VBMjD66xWd+K5tpMs4mbh4wAnCKjoaj5IX8n5UsJxCbSFFA6mxVR0gmDyzhXpykwLI/K5R2t8DS5Zd6O/IX+mF8jSOlhrHY/ewU+U84wxjTyLrFK9vUoxEk4BlR2zEgYIG1Ox9IYwATZI8WmdjeuG/O0HyeADmDjWMWdtRKQcKTt; AWSALB=BrdpG/OPxOPE7kjKh8qV7uoYY9Zxf2E8Z1o1kvwADTxYAkP8yaS52c+t2W8ZQI2pSVqNJpnP2+fu2TuQAe096uyfRdXrbOm7vy95uZsfaI9K9GZRozOJG7hNptTr; AWSALBCORS=BrdpG/OPxOPE7kjKh8qV7uoYY9Zxf2E8Z1o1kvwADTxYAkP8yaS52c+t2W8ZQI2pSVqNJpnP2+fu2TuQAe096uyfRdXrbOm7vy95uZsfaI9K9GZRozOJG7hNptTr; ADRUM_BTa=R:0|g:9c5e4c74-469c-4f9f-97c4-01bd46aca874|n:cat-prod_f7d9caec-f2b7-4921-8d3b-1d2bc2552176; bm_sv=937F9E91044D7E004FFE6D668FCEA57F~BvT5VBPwcFBCHiJHQl3if/rX5LFSG4X+1YlOHscPM2HtuaXR4CL6vBFn6hQP1bCIkoKEsUxtGx7SqvRjVg8XJx+DLwfWn3FifZlD6uoPvOTAmEdupTAWEIxUYr07XGZiClg6nxixKS0/XB9ii6AlWw==
pragma: no-cache
referer: https://www.cat.com/en_US/products/new/equipment/{i}.html
sec-ch-ua: " Not A;Brand";v="99", "Chromium";v="90", "Google Chrome";v="90"
sec-ch-ua-mobile: ?0
sec-fetch-dest: empty
sec-fetch-mode: cors
sec-fetch-site: same-origin
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
x-requested-with: XMLHttpRequest"""
        
        headers = str(headers)
        headers=dict(t.split(': ') for t in headers.split('\n'))
        data = r.get(url, headers=headers).json()
        df = pd.json_normalize(data['models'])
        dft=dft.append(df)
        #time.sleep(1)
        #print(f"Page {i} (%s/24) is finished"%names.index(i))

100%|██████████████████████████████████████████████████████████████████████████████████| 25/25 [00:04<00:00,  6.04it/s]

In [79]:
dftotal = dft.copy()

In [80]:
len(dftotal)

384

```Let's explore it and clean it```

In [81]:
dftotal.businessUnit.value_counts()

GCI                     133
BCP                      89
Mining                   82
Paving                   74
Forestry                  3
Industrail OEM            2
Industrial and Waste      1
Name: businessUnit, dtype: int64

In [82]:
dftotal.buildQuoteMob.value_counts()

Build    384
Name: buildQuoteMob, dtype: int64

In [83]:
dftotal.drop('buildQuoteMob', axis=1, inplace=True)

In [84]:
dftotal.drop(['compare_url','image_url','buildAndPricePC'], axis=1, inplace=True)

In [85]:
dftotal.drop(['dealers', 'filters',
       'listOfPrices', 'priceList'], axis=1, inplace=True)

In [86]:
dftotal.drop(['small_image_url',
       'itemtype', 'msrp', 'isBCP', 'sort_order',
       'brand', 'longDesc', 'buildQuote'], axis=1, inplace=True)

In [87]:
dftotal.columns

Index(['detail_url', 'businessUnit', 'idmodel', 'familyId', 'specs',
       'model_name', 'family'],
      dtype='object')

In [88]:
dftotal.loc[dftotal.familyId.str.contains('articulated')]

,detail_url,businessUnit,idmodel,familyId,specs,model_name,family
0,/en_US/products/new/equipment/articulated-truc...,GCI,1000005091,articulated-truck-bare-chassis,"[{'spec_name': 'Standard Wheel Base', 'spec_va...",725C2 Bare Chassis,Articulated Truck Bare Chassis
1,/en_US/products/new/equipment/articulated-truc...,GCI,1000005090,articulated-truck-bare-chassis,"[{'spec_name': 'Standard Wheel Base', 'spec_va...",730C2 Bare Chassis,Articulated Truck Bare Chassis
2,/en_US/products/new/equipment/articulated-truc...,GCI,101640,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",725,Three Axle Articulated Trucks
3,/en_US/products/new/equipment/articulated-truc...,GCI,15969812,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",730,Three Axle Articulated Trucks
4,/en_US/products/new/equipment/articulated-truc...,GCI,15969817,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",730 EJ,Three Axle Articulated Trucks
5,/en_US/products/new/equipment/articulated-truc...,GCI,15969807,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",735,Three Axle Articulated Trucks
6,/en_US/products/new/equipment/articulated-truc...,GCI,1000034268,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",740 EJ,Three Axle Articulated Trucks
7,/en_US/products/new/equipment/articulated-truc...,GCI,302717362097310,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",740 GC,Three Axle Articulated Trucks
8,/en_US/products/new/equipment/articulated-truc...,GCI,1000032934,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",745,Three Axle Articulated Trucks

In [89]:
dftotal

,detail_url,businessUnit,idmodel,familyId,specs,model_name,family
0,/en_US/products/new/equipment/articulated-truc...,GCI,1000005091,articulated-truck-bare-chassis,"[{'spec_name': 'Standard Wheel Base', 'spec_va...",725C2 Bare Chassis,Articulated Truck Bare Chassis
1,/en_US/products/new/equipment/articulated-truc...,GCI,1000005090,articulated-truck-bare-chassis,"[{'spec_name': 'Standard Wheel Base', 'spec_va...",730C2 Bare Chassis,Articulated Truck Bare Chassis
2,/en_US/products/new/equipment/articulated-truc...,GCI,101640,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",725,Three Axle Articulated Trucks
3,/en_US/products/new/equipment/articulated-truc...,GCI,15969812,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",730,Three Axle Articulated Trucks
4,/en_US/products/new/equipment/articulated-truc...,GCI,15969817,three-axle-articulated-trucks,"[{'spec_name': 'Engine Model', 'spec_value': [...",730 EJ,Three Axle Articulated Trucks
...,...,...,...,...,...,...,...
3,/en_US/products/new/equipment/wheel-tractor-sc...,GCI,18576136,open-bowl-scrapers,[{'spec_name': 'Flywheel Power - Tractor/Scrap...,621K,Open Bowl Scrapers
4,/en_US/products/new/equipment/wheel-tractor-sc...,GCI,18576180,open-bowl-scrapers,[{'spec_name': 'Flywheel Power - Tractor/Scrap...,627K,Open Bowl Scrapers
5,/en_US/products/new/equipment/wheel-tractor-sc...,GCI,1000020943,open-bowl-scrapers,[{'spec_name': 'Flywheel Power - Tractor/Scrap...,631K,Open Bowl Scrapers
6,/en_US/products/new/equipment/wheel-tractor-sc...,GCI,1000021433,open-bowl-scrapers,[{'spec_name': 'Flywheel Power - Tractor/Scrap...,637K,Open Bowl Scrapers
7,/en_US/products/new/equipment/wheel-tractor-sc...,GCI,15969767,open-bowl-scrapers,"[{'spec_name': 'Tractor Engine', 'spec_value':...",657,Open Bowl Scrapers

In [90]:
dftotal.loc[dftotal.model_name.str.contains('390F')]

,detail_url,businessUnit,idmodel,familyId,specs,model_name,family
62,/en_US/products/new/equipment/excavators/front...,Industrail OEM,1000005962,frontless-excavators,"[{'spec_name': 'Engine Model', 'spec_value': [...",390F OEM,Frontless Excavators

```3th Task :```

    Let's get all the specificity of each product

In [91]:
l = set(dftotal.specs.apply(lambda x: [i['spec_name'] for i in x]).sum())

In [92]:
l

{'11 Wheel Compaction Width with Bias Tire',
 '6060 AC FS - Standard Track Pads',
 'Base Power (1st Gear) - Net',
 'Basic Blade Width',
 'Bit Load',
 'Blade Capacities',
 'Blade Width',
 'Boom Length',
 'Bore',
 'Bottom Plate Thickness',
 'Bucket Capability',
 'Bucket Capacities',
 'Bucket Payload',
 'Bucket Range',
 'CPU',
 'Cab - ROPS/FOPS',
 'Capacity - General Purpose',
 'Clock Frequency',
 'Coal Hardness',
 'Compaction Width',
 'Cutting Power',
 'Cutting/Mixing Width',
 'Deck Plate Thickness',
 'Dig Depth',
 'Dig Depth - Standard',
 'Digging Depth',
 'Dimensions Right-/Left-angle Gearbox (KP Version) - Width',
 'Dipper Capacity',
 'Dipper Payload',
 'Dogbone Breaking Force',
 'Drum Diameter',
 'Electric Motor - Output',
 'Emissions',
 'Engine',
 'Engine Gross Power - ISO 14396',
 'Engine Model',
 'Engine Model (1)',
 'Engine Output - SAE J1995',
 'Engine Power (ISO 14396)',
 'Engine Power - ISO 14396',
 'Engine Power - ISO 9249',
 'Engine Power - Net SAE J1349/ISO 9249',
 'Engine Power - Net SAE J1349/ISO 9249 - Forward',
 'Flywheel Power',
 'Flywheel Power - Tractor/Scraper',
 'Frequency',
 'Fuel Type',
 'Gross Power',
 'Gross Power (SAE J1995:2014)',
 'Gross Power - 1,800 rpm',
 'Gross Power - Basic',
 'Gross Power - ISO 14396',
 'Gross Power - SAE J1995',
 'Ground Clearance',
 'Haulage Power',
 'Heaped (SAE 2:1)',
 'Height - Extended',
 'Hole Diameter',
 'Input Voltage',
 'Lever/Steering Wheel Weight* Tier 4',
 'Lift Capacity',
 'Long Wheel Base',
 'Maximum Dig Depth',
 'Maximum Digging Depth',
 'Maximum Flow - Main System',
 'Maximum Gross Power',
 'Maximum Input Speed - Motor Speed',
 'Maximum Installed Power',
 'Maximum Lift Height',
 'Maximum Operating Weight',
 'Maximum Operational Torque',
 'Maximum Output Torque for a Short Duration (3 sec.)',
 'Maximum Paving Range',
 'Maximum Paving Width',
 'Maximum Pin Height at Stick Nose',
 'Maximum Rated Output Torque',
 'Maximum Reach',
 'Maximum Swing Torque',
 'Maximum Travel Speed',
 'Maximum Weight at Stick Nose',
 'Memory',
 'Milling Width',
 'Mining Height',
 'Motor Stalling Torque T Motor',
 'Net Flywheel Power',
 'Net Power',
 'Net Power (SAE J1349:2011)',
 'Net Power - EEC 80/1269',
 'Net Power - ISO 9249',
 'Net Power - SAE J1349',
 'Net Power @ 1,700 rpm –  ISO 9249:2007, SAE J1349:2011',
 'Net Power Range (Tier 4)',
 'Nominal Payload Capacity',
 'Nominal Payload Class (100%)',
 'Nominal Rated Payload',
 'Nominal Rated Payload (33.00R51 Tires)',
 'Nominal Water Tank Capacity',
 'Operating System',
 'Operating Weight',
 'Operating Weight - 11 Wheel Base Machine',
 'Operating Weight - 11 Wheel with Maximum Ballast',
 'Operating Weight - 9 Wheel Base Machine',
 'Operating Weight - 9 Wheel with Maximum Ballast (1)',
 'Operating Weight - Maximum',
 'Operating Weight - Maximum Ballast',
 'Operating Weight - Paver Only',
 'Operating Weight - Standard Machine Empty',
 'Operating Weight - Typically Equipped',
 'Operating Weight - With Cab',
 'Operating Weight - With ROPS/FOPS',
 'Operating Weight - With ROPS/FOPS Canopy',
 'Operating Weight - With SE34 VT',
 'Operating Weight - With SE60 V',
 'Operating Weight - With Sun Canopy',
 'Operating Weight - XL',
 'Operating Weight Maximum',
 'Operating Weight\xa0',
 'Output',
 'Plow Body Height',
 'Power - Net',
 'Processor',
 'RAM Memory',
 'Rated Gross Machine Weight',
 'Rated Gross Machine Weight (33.00R51 tires)',
 'Rated Load Capacity',
 'Rated Operating Capacities - 35% Tipping Load',
 'Rated Operating Capacity',
 'Rated Payload',
 'Rated Power',
 'Scraper Capacity - Heaped',
 'Scraper Engine',
 'Seam Range',
 'Seat (Capacity)',
 'Shield Centers',
 'Shield Density',
 'Standard - Operating Weight',
 'Standard Compaction Width',
 'Standard Operating Weight with ROPS',
 'Standard Paving Range',
 'Standard Paving Range - SE50 V, SE50 VT',
 'Standard Weight',
 'Standard Wheel Base',
 'Stroke',
 'Tier 4 Bare Chassis Weight without Hoist',
 'Top Plate Thickness',
 'Top Speed',
 'Top Speed - Loaded',
 'Tractor Engine',
 'Tractor ROPS',
 'Travel Speed - Maximum',
 'Turning Radius - Inside Drum Edge',
 'Weight (Stage V)*',
 'Weight (gearbox without oil)',
 'Weight - Without Oil - In-line Drive System',
 'Weight*',
 'Working Weight - Approximate',
 'Working Weight - With Dipper and Standard Links'}

In [93]:
def get_operat_weight_US(x):
    for i in x:
        if 'Weight' in i['spec_name'] or 'Capacity' in i['spec_name'] or 'Capacities' in i['spec_name'] or i['spec_name'] == 'Rated Payload' or i['spec_name'] == 'Nominal Rated Payload (33.00R51 Tires)' or i['spec_name'] == 'Nominal Rated Payload' or i['spec_name'] == 'Maximum Rated Output Torque' or i['spec_name'] == 'Dipper Payload' or i['spec_name'] == 'Bucket Payload' or i['spec_name'] == 'Nominal Payload Class (100%)' or i['spec_name'] == 'Bit Load' or i['spec_name'] == 'Bucket Capability' or i['spec_name'] == 'Cab - ROPS/FOPS' or i['spec_name'] =='Dogbone Breaking Force' or i['spec_name'] =='Heaped (SAE 2:1)' or i['spec_name'] == 'Tractor ROPS':
            return i['spec_value'][0]
    return 0
dftotal['Operating Load (US)'] = dftotal.specs.apply(get_operat_weight_US)

In [94]:
def get_operat_weight_SI(x):
    for i in x:
        if 'Weight' in i['spec_name'] or 'Capacity' in i['spec_name'] or 'Capacities' in i['spec_name'] or i['spec_name'] == 'Rated Payload' or i['spec_name'] == 'Nominal Rated Payload (33.00R51 Tires)' or i['spec_name'] == 'Nominal Rated Payload' or i['spec_name'] == 'Maximum Rated Output Torque' or i['spec_name'] == 'Dipper Payload' or i['spec_name'] == 'Bucket Payload' or i['spec_name'] == 'Nominal Payload Class (100%)' or i['spec_name'] == 'Bit Load' or i['spec_name'] == 'Bucket Capability' or i['spec_name'] == 'Cab - ROPS/FOPS' or i['spec_name'] =='Dogbone Breaking Force' or i['spec_name'] =='Heaped (SAE 2:1)' or i['spec_name'] == 'Tractor ROPS':
            return i['spec_value'][1]
    return 0
dftotal['Operating Load (SI)'] = dftotal.specs.apply(get_operat_weight_SI)

In [95]:
def get_power_us(x):
    for i in x:
        if 'Power' in i['spec_name'] or 'Engine Output' in i['spec_name'] or i['spec_name'] == 'Electric Motor - Output' or i['spec_name'] == 'Output':
            return i['spec_value'][0]
    return 0
dftotal['Power (US)'] = dftotal.specs.apply(get_power_us)

In [96]:
def get_power_si(x):
    for i in x:
        if 'Power' in i['spec_name'] or 'Engine Output' in i['spec_name'] or i['spec_name'] == 'Electric Motor - Output' or i['spec_name'] == 'Output':
            return i['spec_value'][1]
    return 0
dftotal['Power (SI)'] = dftotal.specs.apply(get_power_si)

In [97]:
def get_depth_us(x):
    for i in x:
        if 'Depth' in i['spec_name'] or i['spec_name'] == 'Hole Diameter':
            return i['spec_value'][0]
    return 0
dftotal['Hole Depth/Size (US)'] = dftotal.specs.apply(get_depth_us)

In [98]:
def get_depth_si(x):
    for i in x:
        if 'Depth' in i['spec_name'] or i['spec_name'] == 'Hole Diameter':
            return i['spec_value'][1]
    return 0
dftotal['Hole Depth/Size (SI)'] = dftotal.specs.apply(get_depth_si)

In [99]:
def get_width_us(x):
    for i in x:
        if 'Width' in i['spec_name'] or i['spec_name'] == 'Standard Paving Range' or i['spec_name'] == 'Standard Wheel Base' or i['spec_name'] == '6060 AC FS - Standard Track Pads' or i['spec_name'] == 'Bottom Plate Thickness' or i['spec_name'] == 'Height - Extended' or i['spec_name'] == 'Long Wheel Base' or i['spec_name'] ==' Maximum Lift Height' or i['spec_name'] =='Maximum Paving Range' or i['spec_name'] =='Maximum Pin Height at Stick Nose' or i['spec_name'] =='Plow Body Height' or i['spec_name'] == 'Seam Range' or i['spec_name'] =='Shield Centers' or i['spec_name'] =='Stroke' or i['spec_name'] =='Top Plate Thickness':
            return i['spec_value'][0]
    return 0
dftotal['Size Construction (US)'] = dftotal.specs.apply(get_width_us)

In [100]:
def get_width_si(x):
    for i in x:
        if 'Width' in i['spec_name'] or i['spec_name'] == 'Standard Paving Range' or i['spec_name'] == 'Standard Wheel Base' or i['spec_name'] == '6060 AC FS - Standard Track Pads' or i['spec_name'] == 'Bottom Plate Thickness' or i['spec_name'] == 'Height - Extended' or i['spec_name'] == 'Long Wheel Base' or i['spec_name'] ==' Maximum Lift Height' or i['spec_name'] =='Maximum Paving Range' or i['spec_name'] =='Maximum Pin Height at Stick Nose' or i['spec_name'] =='Plow Body Height' or i['spec_name'] == 'Seam Range' or i['spec_name'] =='Shield Centers' or i['spec_name'] =='Stroke' or i['spec_name'] =='Top Plate Thickness':
            return i['spec_value'][1]
    return 0
dftotal['Size Construction (SI)'] = dftotal.specs.apply(get_width_si)

In [101]:
def get_engine(x):
    for i in x:
        if i['spec_name'] == 'Engine Model' or i['spec_name'] == 'Engine' or i['spec_name'] == 'Tractor Engine' or i['spec_name'] == 'Engine Model (1)' or i['spec_name'] == 'Scraper Engine' or i['spec_name'] == 'CPU':
            return i['spec_value'][0]
    return 0
dftotal['Engine Model'] = dftotal.specs.apply(get_engine)

In [102]:
def get_speed_mile(x):
    for i in x:
        if 'Speed' in i['spec_name']:
            return i['spec_value'][0]
    return 0

dftotal['Travel Speed (US)'] = dftotal.specs.apply(get_speed_mile)

In [103]:
def get_speed_km(x):
    for i in x:
        if 'Speed' in i['spec_name']:
            return i['spec_value'][1]
    return 0

dftotal['Travel Speed (SI)'] = dftotal.specs.apply(get_speed_km)

In [104]:
dftotal.columns

Index(['detail_url', 'businessUnit', 'idmodel', 'familyId', 'specs',
       'model_name', 'family', 'Operating Load (US)', 'Operating Load (SI)',
       'Power (US)', 'Power (SI)', 'Hole Depth/Size (US)',
       'Hole Depth/Size (SI)', 'Size Construction (US)',
       'Size Construction (SI)', 'Engine Model', 'Travel Speed (US)',
       'Travel Speed (SI)'],
      dtype='object')

In [105]:
dftotal.drop('specs', axis=1, inplace=True)

In [106]:
dftotal.head(2)

,detail_url,businessUnit,idmodel,familyId,model_name,family,Operating Load (US),Operating Load (SI),Power (US),Power (SI),Hole Depth/Size (US),Hole Depth/Size (SI),Size Construction (US),Size Construction (SI),Engine Model,Travel Speed (US),Travel Speed (SI)
0,/en_US/products/new/equipment/articulated-truc...,GCI,1000005091,articulated-truck-bare-chassis,725C2 Bare Chassis,Articulated Truck Bare Chassis,26 t,23.6 t,0,0,0,0,156.7 in,3979 mm,0,0,0
1,/en_US/products/new/equipment/articulated-truc...,GCI,1000005090,articulated-truck-bare-chassis,730C2 Bare Chassis,Articulated Truck Bare Chassis,31 t,28 t,0,0,0,0,156.7 in,3979 mm,0,0,0

In [107]:
columns_order = ['family', 'familyId', 'model_name', 'idmodel',"Operating Load (US)", "Operating Load (SI)", "Size Construction (US)", "Size Construction (SI)" , 'Power (US)', 'Power (SI)', 'Hole Depth/Size (US)', 'Hole Depth/Size (SI)', 'Travel Speed (US)', 'Travel Speed (SI)', 'Engine Model', 'businessUnit', 'detail_url']

In [108]:
dftotal = dftotal.reindex(columns = columns_order)

In [109]:
dftotal.reset_index(drop=True, inplace=True)

In [110]:
dftotal.to_csv("caterpillar.csv", sep = '.')

In [111]:
names_columns = dftotal.columns
names_columns = list(names_columns)
print(names_columns)

['family', 'familyId', 'model_name', 'idmodel', 'Operating Load (US)', 'Operating Load (SI)', 'Size Construction (US)', 'Size Construction (SI)', 'Power (US)', 'Power (SI)', 'Hole Depth/Size (US)', 'Hole Depth/Size (SI)', 'Travel Speed (US)', 'Travel Speed (SI)', 'Engine Model', 'businessUnit', 'detail_url']

```4th Task :```

    Let's send it to MySQL

In [44]:
from getpass import getpass
import pymysql
from sqlalchemy import create_engine

In [45]:
Hostname='localhost'
username='root'
password=getpass()

········

In [46]:
eng=create_engine(f'mysql+pymysql://{username}:{password}@{Hostname}:3306/caterpillar')

In [47]:
dftotal.to_sql('caterpillar', eng, if_exists = 'replace', index = False)

import sqlite3
conn = sqlite3.connect('Caterpillar.sql')
c = conn.cursor()
c.execute('CREATE TABLE EQUIPMENTS (Family, Model_Name, IdModel, Operating_Load_US, Operating_Load_SI, Size_Construction_US, Size Construction_SI, Power_US, Power_SI, Hole_Depth_Size_US, Hole_Depth_Size_SI, Travel_Speed_US, Travel_Speed_SI, Engine_Model, longDesc, businessUnit, detail_url, image_url, brand)')
conn.commit()

In [112]:
dftotal

,family,familyId,model_name,idmodel,Operating Load (US),Operating Load (SI),Size Construction (US),Size Construction (SI),Power (US),Power (SI),Hole Depth/Size (US),Hole Depth/Size (SI),Travel Speed (US),Travel Speed (SI),Engine Model,businessUnit,detail_url
0,Articulated Truck Bare Chassis,articulated-truck-bare-chassis,725C2 Bare Chassis,1000005091,26 t,23.6 t,156.7 in,3979 mm,0,0,0,0,0,0,0,GCI,/en_US/products/new/equipment/articulated-truc...
1,Articulated Truck Bare Chassis,articulated-truck-bare-chassis,730C2 Bare Chassis,1000005090,31 t,28 t,156.7 in,3979 mm,0,0,0,0,0,0,0,GCI,/en_US/products/new/equipment/articulated-truc...
2,Three Axle Articulated Trucks,three-axle-articulated-trucks,725,101640,26.5 ton (US),24 t,0,0,0,0,0,0,0,0,Cat C9.3,GCI,/en_US/products/new/equipment/articulated-truc...
3,Three Axle Articulated Trucks,three-axle-articulated-trucks,730,15969812,31 ton (US),28 t,0,0,0,0,0,0,0,0,Cat® C13,GCI,/en_US/products/new/equipment/articulated-truc...
4,Three Axle Articulated Trucks,three-axle-articulated-trucks,730 EJ,15969817,30 ton (US),27.1 t,0,0,0,0,0,0,0,0,Cat® C13,GCI,/en_US/products/new/equipment/articulated-truc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,Open Bowl Scrapers,open-bowl-scrapers,621K,18576136,24 yd³,18.4 m³,0,0,304 kW (407 hp),304 kW (407 hp),0,0,33.5 mile/h,53.9 km/h,0,GCI,/en_US/products/new/equipment/wheel-tractor-sc...
380,Open Bowl Scrapers,open-bowl-scrapers,627K,18576180,24 yd³,18.4 m³,0,0,304 kW (407 hp)/216 kW (290 hp),304 kW (407 hp)/216 kW (290 hp),0,0,33.5 mile/h,53.9 km/h,0,GCI,/en_US/products/new/equipment/wheel-tractor-sc...
381,Open Bowl Scrapers,open-bowl-scrapers,631K,1000020943,34 yd³,26 m³,0,0,570 HP,425 kW,0,0,34.7 mile/h,55.8 km/h,0,GCI,/en_US/products/new/equipment/wheel-tractor-sc...
382,Open Bowl Scrapers,open-bowl-scrapers,637K,1000021433,34 yd³,26 m³,0,0,570 HP,425 kW,0,0,34.7 mile/h,55.8 km/h,0,GCI,/en_US/products/new/equipment/wheel-tractor-sc...
383,Open Bowl Scrapers,open-bowl-scrapers,657,15969767,0,0,0,0,469kW (629 hp) / 353 kW (473 hp),469kW (629 hp) / 353 kW (473 hp),0,0,0,0,Cat C18,GCI,/en_US/products/new/equipment/wheel-tractor-sc...

```5th Task :```

    Let's get the detailed specs

In [119]:
path = r"C:\Program Files (x86)\chromedriver.exe"

In [120]:
driver = webdriver.Chrome(path)

In [121]:
dff = pd.DataFrame()


for n in tqdm(dftotal.detail_url):

    driver.get(f"https://www.cat.com{n}") 
    
    try :
        element =  driver.find_element_by_xpath("""//*[@id="pdp-tab1"]/div/div/div[2]/div/button""")
        driver.execute_script("arguments[0].click();", element)
    except NoSuchElementException:  #spelling error making this code not work as expected
        pass
    
    url = driver.page_source
    soup = BeautifulSoup(url, 'lxml')
    table = soup.find_all('table')
    
    
    df = pd.concat(pd.read_html(str(table)),ignore_index=True)

    df['name'], df['model'] = ' '.join(driver.title.split('|')[0].split(' ')[1:3]), driver.title.split('|')[0].split(' ')[0]
    
    df.set_index(['name', 'model'], inplace=True)
    
    dff = dff.append(df)

100%|████████████████████████████████████████████████████████████████████████████████| 384/384 [37:00<00:00,  5.78s/it]

In [123]:
dff

                                           0                            1
name         model
Bare Chassis 725C2       Standard Wheel Base             156.7 in 3979 mm
             725C2           Long Wheel Base             215.2 in 5465 mm
             725C2              Engine Model  Cat C13 ACERT Cat C13 ACERT
             725C2   Gross Power - SAE J1995                320 HP 239 kW
             725C2     Net Power - SAE J1349                314 HP 234 kW
...                                      ...                          ...
Open Bowl    657                  Front Axle            93842 lb 42566 kg
             657                   Rear Axle            66663 lb 30238 kg
             657    Total Operating - Loaded          268302 lb 121700 kg
             657         Front Axle - Loaded           134165 lb 60856 kg
             657          Rear Axle - Loaded           130340 lb 59121 kg

[23876 rows x 2 columns]

In [137]:
dff.isnull().sum()

0    0
1    0
dtype: int64

In [150]:
dff.to_csv('cat_brut.csv', sep=';')

In [152]:
dff.to_csv('catbrut.csv')

In [124]:
data = dff.copy()

In [128]:
data.rename(columns={0:'spec_name', 1:'spec_value'}, inplace=True)

In [133]:
data.loc[data.spec_name.str.contains('Note'), 'spec_name'] = np.nan

In [138]:
data.isnull().sum()

spec_name     1422
spec_value       0
dtype: int64

In [140]:
data.dropna(inplace=True)

In [141]:
data.isnull().sum()

spec_name     0
spec_value    0
dtype: int64

In [142]:
data

                                   spec_name                   spec_value
name         model
Bare Chassis 725C2       Standard Wheel Base             156.7 in 3979 mm
             725C2           Long Wheel Base             215.2 in 5465 mm
             725C2              Engine Model  Cat C13 ACERT Cat C13 ACERT
             725C2   Gross Power - SAE J1995                320 HP 239 kW
             725C2     Net Power - SAE J1349                314 HP 234 kW
...                                      ...                          ...
Open Bowl    657                  Front Axle            93842 lb 42566 kg
             657                   Rear Axle            66663 lb 30238 kg
             657    Total Operating - Loaded          268302 lb 121700 kg
             657         Front Axle - Loaded           134165 lb 60856 kg
             657          Rear Axle - Loaded           130340 lb 59121 kg

[22454 rows x 2 columns]

In [147]:
for i in tqdm(data['spec_value']):
    x = len(i.split(' '))
    data['spec_value_US'] = data['spec_value'].str.split(' ').str[:int(abs(x/2))]
    data['spec_value_INT'] = data['spec_value'].str.split(' ').str[-int(abs(x/2)):]

100%|██████████████████████████████████████████████████████████████████████████| 22454/22454 [1:51:46<00:00,  3.35it/s]

In [148]:
data

                                   spec_name                   spec_value  \
name         model
Bare Chassis 725C2       Standard Wheel Base             156.7 in 3979 mm
             725C2           Long Wheel Base             215.2 in 5465 mm
             725C2              Engine Model  Cat C13 ACERT Cat C13 ACERT
             725C2   Gross Power - SAE J1995                320 HP 239 kW
             725C2     Net Power - SAE J1349                314 HP 234 kW
...                                      ...                          ...
Open Bowl    657                  Front Axle            93842 lb 42566 kg
             657                   Rear Axle            66663 lb 30238 kg
             657    Total Operating - Loaded          268302 lb 121700 kg
             657         Front Axle - Loaded           134165 lb 60856 kg
             657          Rear Axle - Loaded           130340 lb 59121 kg

                   spec_value_US spec_value_INT
name         model
Bare Chassis 725C2   [156.7, in]     [3979, mm]
             725C2   [215.2, in]     [5465, mm]
             725C2    [Cat, C13]   [C13, ACERT]
             725C2     [320, HP]      [239, kW]
             725C2     [314, HP]      [234, kW]
...                          ...            ...
Open Bowl    657     [93842, lb]    [42566, kg]
             657     [66663, lb]    [30238, kg]
             657    [268302, lb]   [121700, kg]
             657    [134165, lb]    [60856, kg]
             657    [130340, lb]    [59121, kg]

[22454 rows x 4 columns]

In [149]:
data.to_csv('cat_clean.csv', sep=';')

In [153]:
data.to_csv('catclean.csv')